<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Servlet1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- web.xml : 배포 서술자 
   메인 페이지 지정, 요청주소 Servlet 클래스 매핑
   
  -->
  
  <servlet>
  	<servlet-name>exam1</servlet-name>
  	<servlet-class>edu.kh.servlet.controller.ExamServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>exam1</servlet-name>
  	<url-pattern>/ex</url-pattern>
  </servlet-mapping>
</web-app>